<h1>Post Details</h1>
<h2> <%= @post.title %> </h2>
<p> by <%= @post.author %> </p>
<p> <%= @post.content %> </p>

<%= link_to "Edit", edit_post_path(id: @post.id) %>

<%= link_to "Back to All Posts", posts_path %>

<%= link_to 'Destroy', post_path(id: @post.id), 
method: :delete, data: { confirm: 'Are you sure?' } %>
